<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
    <body>
        <h1>Create Your Posts</h1>
        <form method="post" action="/posts">
            <div class="main">
                <div class="inp">
                    <input type="text" placeholder="Enter username" name="username" id="username">
                </div>
                <textarea name="content" placeholder="Write your content?"></textarea>

                <br>
                <div class="btn">
                    <button type="submit">Submit Post</button>
                    <button type="reset" class="reset">Clear</button>
                </div>
    
                <a href="http://localhost:8080/posts">
                    Go Back
                </a>
            </div>
        </form>
    </body>
</html>